p.hi{
    color:darksalmon;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
}

p.hello {
    color:aquamarine;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-size: 50px;
}

p.hey{
    color:cornflowerblue;
    font-family: sans-serif
}

body{
    background:pink;
}

.first{
    font-size: 50px;
}